
/*==========普通のボタン==========*/
.button0{
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}

/*==========(文字の)色のついたボタン==========*/

.button1{
    color:blue;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;



}


/*==========backgroundに色のついたボタン==========*/
.button2{
    background-color:red;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}

/*==========太枠ボタン==========*/

.button3{
    border:1rem solid;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}


/*==========二重の枠を持つボタン==========*/


.button4{
    border: thick double green;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}


/*==========立体的な枠組みを持つボタン==========*/


.button5{
    /*枠組みの設定*/
    border: 4mm ridge rgba(170, 50, 220, .6);
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}

/*==========backgroundに色のついたボタン==========*/

.button6{
    /*それぞれの枠組みの色を選択*/
    border-top-color:red;
    border-right-color:blue;
    border-left-color:green;
    border-bottom-color:yellow;
    /*枠組みの幅変更*/
    border-width:5mm;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}

/*==========枠組みが○のボタン==========*/
.button7{
    /*枠の形式を指定*/
    border-style: dotted;
    /*枠の色を指定*/
    border-color:blue;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;



}

/*==========四辺が異なるborder-styleのボタン==========*/
.button8{
                /* 上 | 右 | 下 | 左 */
    border-style: none solid dotted dashed;
    border-color:black;

    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}


/*==========丸角のボタン==========*/
.button9{
    /*角の指定*/
    border-radius:30px;
    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;

}


/*==========角の丸みがすべての角で異なるボタン==========*/

.button10{
    /*左上*/
    border-top-left-radius:10px;
    /*右上*/
    border-top-right-radius:30px;
    /*左下*/
    border-bottom-left-radius:50px;
    /*右下*/
    bordeer-bottom-right-radius:70px;


    /*ボタンの大きさ指定*/
    width:30mm;
    /*余白の調整*/
    padding:5mm;


}
